[Unit]
Description=Servico de Inicializacao do Robo Tirilo
After=network.target

[Service]
Type=simple
User=boreto
WorkingDirectory=/home/boreto/projeto_robo/robo_tirilo
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/boreto/projeto_robo/robo_tirilo/tirilo.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
